src/.directory
protocol.pro.user
.directory
data/app.db3
data/const.dat
data/lab.dat
data/prt.logtest_protocol/test_protocol.qbs.user.610dee2
test_protocol/test_protocol.qbs.user
test_protocol/.directory
*.user
test_protocol/*.user
build-test_protocol-Desktop_Qt_5_11_1_GCC_64bit-Debug/
test_protocol/test_protocol.qbs.user.ca4baf2
build-test_protocol-Desktop_Qt_5_11_2_GCC_64bit-Debug/
